.center{
	display:block !important;
	margin-left: auto;
	margin-right: auto;
}

.delete_article{float: right; margin-top: -20px;}
.delete_article:hover{color: red;}
.edit_article{float: right; margin-top: 2px;}
.edit_article:hover{color: black;}
.delete_comment{float: right;}
.delete_comment:hover{color: red;}

.btn-success{background-color: #FFAB2F !important;}
.btn-success:active{
	background-color: #D3AB1F !important;
    background-image: -webkit-radial-gradient(circle, #D38D1F 10%, #F6B62C 11%) !important;
    background-image: -o-radial-gradient(circle, #D38D1F 10%, #F6B62C 11%) !important;
    background-image: radial-gradient(circle, #D38D1F 10%, #F6B62C 11%) !important;
    background-repeat: no-repeat;
}
.alert-info{background-color: #2766B0 !important;}
.well{background-color: #E4E4E4 !important;}

body{
	/*background-color: #FF7800 !important;*/
	background: #ff7800;
	background: -moz-linear-gradient(-45deg, #ff7800 0%, #ff9232 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff7800), color-stop(100%,#ff9232));
	background: -webkit-linear-gradient(-45deg, #ff7800 0%,#ff9232 100%);
	background: -o-linear-gradient(-45deg, #ff7800 0%,#ff9232 100%);
	background: -ms-linear-gradient(-45deg, #ff7800 0%,#ff9232 100%);
	background: linear-gradient(135deg, #ff7800 0%,#ff9232 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7800', endColorstr='#ff9232',GradientType=1 );
}

a{
	text-decoration: none !important;
}

#content{
	margin-top:85px;
}

#commentText{
	margin-left:45px;
	outline:none;
	background-color:transparent;
	min-height:100px;
	width:92%;
}

#RssFeed{
	float:right;
	width: 10%;
	height: auto;
}